$path: '/';
$imgPath: $path+'assets/';


// generals colors
$black: #000000;
$white: #ffffff;
$tortank: #f3eada;
$dracaufeu: #dbdbdb;
$mewtwo: #cccccc;
$nosferapti: #404040;
$bulbizarre: #00967F;
$salameche: #ffa17a;

// generals size
$desktop-container : 15%;

$title-size : 3em;
$line-height : 2em;


$small-margin : 30px;
$medium-margin : 50px;
$large-margin : 60px;




$fontTitle: 'Amatic SC', cursive;
$fontText: 'OpenSans', cursive;