body {
  background-color: $tortank;
}
header {
  display: block;
  height: 100vh;
  margin-bottom: 50px;
  h2 {
    padding-top: 60px;
    color: white;
    @include mobile {
      padding-top: 30px;

    }
  }
}
main {
  color: $bulbizarre;
  margin: 0 $desktop-container;
  @include mobile {
    margin: 0 20px;
    text-align: center;
  }
}
.background-header-fromage {
  background: url($imgPath + 'img/bitmap.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 80%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile { 
    background: url($imgPath + 'img/bitmap_mob.jpg') no-repeat center;
    background-size: cover;
  }
}
.header-fromage-infos {
  display: flex;
  flex-direction: column;
  width: 22%;
  align-self: flex-end;
  margin-right: 10%;
  color: $tortank;
  @include mobile {
    width: 90%;
    margin: 0 auto;
    text-align: center
  }
  h2 {
    text-align: left;
    color: $tortank;

    @include mobile {
      text-align: center;
    }
  }
  span {
    margin: $small-margin 0;
    width: 200px;
    height: 2px;
    background-color: $tortank;
    opacity: 0.7;
    display: block;
    @include mobile {
      margin: 15px auto;
    }
  }

  a {
    display: inline-block;
    margin: 0 0 20px 0;
    text-align: center;
    width: 125px;
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid $tortank;
    color: $tortank;
    @include mobile {
      margin: 0 auto 20px;

    }
  }
}
.navigation-header {
  height: 20%;
  margin: 0 $desktop-container;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mobile() {
    display: none;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $bulbizarre;
    padding-bottom: 5px;
    &:hover, &:focus {
      font-weight: bold;
      border-bottom: solid 4px $salameche;
    }
  }
}
.kezako-cheese-infos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: $large-margin 0;
  @include mobile {
    align-items: center;
    flex-direction: column;
  };
  img {
    max-height: 620px;
    width: 40%; 
    height: auto;
    @include mobile {
      width: 85%;
    }

  }
  div {
    width: 55%;
    line-height: $line-height;
    @include mobile {
      width: 100%;
    }
  }
}

.fromage-vegetal-infos {
  width: 100%;
  height: auto;
  margin: $medium-margin 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &.colo {
    @include mobile() {
      flex-direction: column-reverse;
    };
   }
  @include mobile() {
    flex-direction: column;
    align-items: center
  
  };
  h3 {
    margin-top: 15px;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: $small-margin;
  }

  img {
    width: 55%;
    height: auto;
    @include mobile {
      width: 100%
    }
  }
  div {
    line-height: $line-height;
    width: 40%;
    @include mobile {
      width: 100%;
    }
  }
}
.semaine-du-gout {
  padding: $medium-margin;
  background-color: $bulbizarre;
  color: white;
  text-align: center;
  margin: $large-margin 0;
  @include mobile {
    padding: $small-margin;
  }
  > span {
    height: 4px;
    width: 160px;
    background-color: $salameche;
    display: block;
    margin: auto;
  }
  > * {
    margin: $medium-margin 0;
  }
  p {
    font-weight: bold;
    max-width: 100%;
  }
  p:last-child {
    font-weight: inherit;
    line-height: $line-height;
  }
}
.puy-de-dome-infos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: $line-height;
  margin: $large-margin 0;
  @include mobile {
    align-items: center;
    flex-direction: column;
  };
  img {
    width: 45%;
    max-height: 433px;
    @include mobile {
      width: 100%;
    };
  }
  > * {
    width: 45%;
    @include mobile {
      width: 100%;
    }
  }
}
.social-media-fromage {
  display: flex;
  flex-direction: column;
  margin: 0 -21.4%;
  background-color: $bulbizarre;
  padding: $medium-margin 0;
  color: white;
  .partage-lien {
    align-self: center;
    margin-bottom: $small-margin;
  }
  nav {
    display: flex;
    justify-content: space-around;
    margin: 0 $desktop-container;
    a {
      text-decoration: none;
      color: white;
      &:hover, &:focus {
        color: $salameche;
      }
    }
  }
  img {
    width: 30px;
  }
}
footer, header {
  h1 {
    text-align: center;
    font-weight: inherit;
    color: $bulbizarre;
    font-size: 14px;
    padding: 10px;
  }
}