.fromage-vegetal-infos {
  width: 100%;
  height: auto;
  margin: $medium-margin 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &.colo {
    @include mobile() {
      flex-direction: column-reverse;
    };
   }
  @include mobile() {
    flex-direction: column;
    align-items: center
  
  };
  h3 {
    margin-top: 15px;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: $small-margin;
  }

  img {
    width: 55%;
    height: auto;
    @include mobile {
      width: 100%
    }
  }
  div {
    line-height: $line-height;
    width: 40%;
    @include mobile {
      width: 100%;
    }
  }
}