.navigation-header {
  height: 20%;
  margin: 0 $desktop-container;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mobile() {
    display: none;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $bulbizarre;
    padding-bottom: 5px;
    &:hover, &:focus {
      font-weight: bold;
      border-bottom: solid 4px $salameche;
    }
  }
}