.puy-de-dome-infos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: $line-height;
  margin: $large-margin 0;
  @include mobile {
    align-items: center;
    flex-direction: column;
  };
  img {
    width: 45%;
    max-height: 433px;
    @include mobile {
      width: 100%;
    };
  }
  > * {
    width: 45%;
    @include mobile {
      width: 100%;
    }
  }
}