.semaine-du-gout {
  padding: $medium-margin;
  background-color: $bulbizarre;
  color: white;
  text-align: center;
  margin: $large-margin $desktop-container-negatif;
  @include mobile {
    padding: $small-margin;
    margin: $large-margin -20px;
  }
  > span {
    height: 4px;
    width: 160px;
    background-color: $salameche;
    display: block;
    margin: auto;
  }
  > * {
    margin: $medium-margin 0;
  }
  p {
    font-weight: bold;
    max-width: 100%;
  }
  p:last-child {
    font-weight: inherit;
    line-height: $line-height;
  }
}