.social-media-fromage {
  display: flex;
  flex-direction: column;
  margin: $small-margin $desktop-container-negatif 0;
  background-color: $bulbizarre;
  padding: $medium-margin 0 $small-margin;
  color: white;
  .partage-lien {
    align-self: center;
    margin-bottom: $small-margin;
  }
  nav {
    display: flex;
    justify-content: space-around;
    margin: 0 $desktop-container;
    a {
      text-decoration: none;
      color: white;
      &:hover, &:focus {
        color: $salameche;
      }
    }
  }
  img {
    height: 30px;
    margin-right: 30px;
  }
}